.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
  max-width: 100%;
  padding-bottom: 5em;
}

.swiper :global .swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
}

.swiper :global .swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
}

/* Pagination */
@media screen and (max-width: 1599.99px) {
  .swiper :global .swiper-pagination {
    position: absolute;
    text-align: center;
    transition: 0.3s opacity;
    transform: translate3d(0, 0, 0);
    z-index: 10;
    bottom: 0;
  }

  .swiper :global .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 10px;
    left: 0;
    width: 100%;
  }

  .swiper :global .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: var(--dark);
  }

  .swiper :global .swiper-pagination-bullet {
    width: 0.9em;
    height: 0.9em;
    display: inline-block;
    border-radius: 50%;
    margin: 0 0.3em;
    cursor: pointer;
    background-color: var(--gray-light);
  }

  .swiper :global .swiper-pagination-bullet:hover {
    opacity: 0.7;
  }
}

.filters {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--gray-light);
  padding: 0.5em 2em;
  z-index: 2;
}

.filter {
  margin-left: 1em;
}

/* Navigation */
@media screen and (min-width: 1600px) {
  .swiper :global .swiper-button-next,
  .swiper :global .swiper-button-prev {
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3em;
    height: 3em;
    overflow: hidden;
  }

  .swiper :global .swiper-button-prev.swiper-button-disabled,
  .swiper :global .swiper-button-next.swiper-button-disabled {
    opacity: 0.35;
    cursor: auto;
    pointer-events: none;
  }

  .swiper :global .swiper-button-next.swiper-button-hidden,
  .swiper :global .swiper-button-prev.swiper-button-hidden {
    opacity: 0;
    cursor: auto;
    pointer-events: none;
  }

  .swiper :global .swiper-navigation-disabled .swiper-button-next,
  .swiper :global .swiper-navigation-disabled .swiper-button-prev {
    display: none !important;
  }

  .swiper :global .swiper-button-next:after,
  .swiper :global .swiper-button-prev:after {
    font-size: 2em;
    position: relative;
    top: -3px;
  }

  .swiper :global .swiper-button-prev {
    right: 67px;
    background: url("/images/chevron-circled.svg") no-repeat center;
    transform: rotate(180deg);
  }

  .swiper :global .swiper-button-next {
    right: 0;
    background: url("/images/chevron-circled.svg") no-repeat center;
  }

  .swiper :global .swiper-button-lock {
    display: none;
  }
}
